div{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F0F0F2;
}
.main-logo{
    display: flex;
    background-color: #D7D7D9;
}
.login{
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    flex-grow: 1;    
}
.logo{
    display: flex;
    text-align: center;
    flex-direction: row;
}
.login>div{
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
    padding: 10px;
    font-size: 1rem;
    flex-basis: 50px;
}
.main-logo>div{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    flex-basis: 50px;
}
.l1{
    background-color:#a76242;
}
.l2{
    background-color:#BD9075;
}
/*----*/
.main-photo{
    display: flex;
    flex-basis: 100px;
    justify-content:space-evenly;
    background-color: #e2cbbc;
}
/*----*/
.main-content{
    display: flex;
}
.m1{
    display: flex;
    flex-direction: column;
    background-color: #BD9075;
}
.m2{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #e2cbbc;
}
.m2-dog{
    margin: 30px;
    width: 300px;
    height: 300px;
    background-color: #BD9075;
}
.m2-dog-content{
    text-align: justify;
}
.m2-dog>div{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}
.m1>div{
    border-radius: 10px;
    background-color: #8cac66;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    size: 50px;
}