div{
    border: 1px solid black;
    text-align: center;
}
.main-logo{
    display: flex;
}
.login{
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    flex-grow: 1;
    border: 1px solid black;
    
}
.logo{
    display: flex;
    text-align: center;
    flex-direction: row;
    border: 1px solid black;
}
.login>div{
    margin: 0px 10px 0px 0px;
    padding: 10px;
    font-size: 1rem;
    flex-basis: 50px;
}
.main-logo>div{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    flex-basis: 50px;
}
.l1{
    background-color: rgb(137, 137, 137);
}
.l2{
    background-color: rgb(137, 137, 137);
}
/*----*/
.main-photo{
    display: flex;
    flex-basis: 100px;
    justify-content:space-evenly;
}
/*----*/
.main-content{
    display: flex;
    border: 1px solid black;
}
.m1{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.m2{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content:space-evenly;
    border: 1px solid black;
}
.m2-dog{
    margin: 30px;
    width: 250px;
    height: 250px;
}
.m2-dog>div{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}
.m1>div{
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    flex-basis: 50px;
}