.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.inline-flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.flex-container>div{
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70px;
}
.inline-flex-container>div{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    width: 70px;
}

.d1{

    flex-basis: 200px;
}
.d2{
    flex-basis: 100px;
}
.d3{

    flex-basis: 100px;
}