.flex-container{
    display: flex;
    flex-flow: row no-wrap;
    
}
.inline-flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.flex-container>div{
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 600px;
}
.inline-flex-container>div{
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    width: 70px;
}

.d1{
    order: 1;
    flex-grow: 2;
}
.d2{
    order: 3;
    
}
.d3{
    order: 2;
    flex-shrink: 4;
}